<div class="row">
	<div class="col d-flex text-center justify-content-center flex-column">
		<h1>Movie Details</h1>
		<div class="card text-center">
			<div class="card-header fw-bold">Movie Details</div>
			<div class="card-body">
				<h5 class="card-title">Title : <%= movie.title %></h5>
				<p class="card-text mt-3">Year : <%= movie.year %></p>
				<p class="card-text">Director : <%= movie.director %></p>
				<p class="card-text">Writer : <%= movie.writer %></p>
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			</div>
			<div class="card-footer text-muted">
				<a href="/" class="text-decoration-none">Back to previous page</a>
			</div>
		</div>
	</div>
</div>
